In [2]:
name =[]
enc = []

In [1]:
import cv2
import face_recognition as fr
import pandas as pd

In [3]:
import cv2
fd = cv2.CascadeClassifier( cv2.data.haarcascades + "haarcascade_frontalface_default.xml ")
#sd= cv2.CascadeClassifier( cv2.data.haarcascades + "haarcascade_smile.xml")

#to read video using web camera
vid = cv2.VideoCapture(0)
counter = 0
captured = True
#loop to read and show image until we bereak the loop 
while captured:
    flag , img = vid.read()
  
    #img_gray = cv2.cvtColor(img,cv2.COLOR_BGR2GRAY)
 
   # th img_th = cv2.threshold(img,100,255,cv2.THRESH_BINARY )
    # if flag is true then only show image
    if flag:
        faces = fd.detectMultiScale(img,1.1,5)
        for x,y,w,h in faces:
            face = img[ y : y+h , x:x+w]
            crop_img = face
           # smile = sd.detectMultiScale(face ,1.1,100)
           # Draw a rectangle on img 
          #  for xs ,ys,ws,hs in smile:
            # cv2.rectangle(img , pt1 =(x +xs,y+ys), pt2 =(x+xs+ws,y+ys+hs), color = (0,0,255), thickness = 3 )
        
             #cv2.rectangle(img , pt1 =(x,y), pt2 =(x+w,y+h), color = (255,0,0), thickness = 3 )

               
            if len(faces) == 1:
                counter += 1
                print(counter)
                if counter == 70:
                   captured = False
        else :
              counter = 0   
        cv2.imshow("webcam_image",crop_img)
        key = cv2.waitKey(1)
        if key == ord("v"):
            break
    else:
        break
cv2.destroyAllWindows()
vid.release()
name.append(input("Enter your name"))
enc.append(fr.face_encodings(crop_img))

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [6]:
name
enc

[[]]

In [7]:
len(name)
len(enc)

1

In [8]:
final_data = { "NAMES ": name , "enc": enc}
import pandas as pd
database = pd.DataFrame(final_data)
display(database)
database.to_csv("name.csv")

  NAMES  enc
0  vgeer  []

In [18]:
len(enc)

0

In [19]:
!python -m pip install pandas

Requirement already satisfied: pandas in c:\users\viren\appdata\local\programs\python\python310\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\viren\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\viren\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\viren\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\viren\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\viren\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import pandas as pd

In [20]:
dict_1 = {"NAMES": ["a","b"],"enc":[[1,2,3,4],[5,6,7,8]] }
dict_1

{'NAMES': ['a', 'b'], 'enc': [[1, 2, 3, 4], [5, 6, 7, 8]]}

In [22]:
database = pd.DataFrame(dict_1)
database

  NAMES           enc
0     a  [1, 2, 3, 4]
1     b  [5, 6, 7, 8]

In [23]:
dict = {"Names":["x","y","z"],"enc":[[10,20,30,40],[50,60,70,80],[100,200,300,400]]}
dict

{'Names': ['x', 'y', 'z'],
 'enc': [[10, 20, 30, 40], [50, 60, 70, 80], [100, 200, 300, 400]]}

In [27]:
database = pd.DataFrame(dict)
display(database)
database.to_csv("sample.csv")

  Names                   enc
0     x      [10, 20, 30, 40]
1     y      [50, 60, 70, 80]
2     z  [100, 200, 300, 400]

In [29]:
new_df = pd.read_csv("sample.csv",index_col=0)
new_df

  Names                   enc
0     x      [10, 20, 30, 40]
1     y      [50, 60, 70, 80]
2     z  [100, 200, 300, 400]

# add data to new df

In [34]:
v = new_df["Names"]
type(v)

pandas.core.series.Series

In [39]:
v = new_df["Names"]
e = new_df["enc"]
v = v.values.tolist()
e = e.values.tolist()
print(v)
print(type(v))
print(e)
print(type(e))

['x', 'y', 'z']
<class 'list'>
['[10, 20, 30, 40]', '[50, 60, 70, 80]', '[100, 200, 300, 400]']
<class 'list'>

In [70]:
new_dict ={"Names":v,"enc":e}
new_dict

{'Names': ['x', 'y', 'z'],
 'enc': ['[10, 20, 30, 40]',
  '[50, 60, 70, 80]',
  '[100, 200, 300, 400]',
  '[1,2,3,4]']}

add data to the list

In [65]:
n = new_df["Names"]
e = new_df["enc"]
n = n.values.tolist()
e = e.values.tolist()
type(n)
type(e)
n.append("d")
e.append("[1,2,3,4]")
print(n)
print(e)

['x', 'y', 'z', 'd']
['[10, 20, 30, 40]', '[50, 60, 70, 80]', '[100, 200, 300, 400]', '[1,2,3,4]']

In [68]:
dictionary = {"Names":n,"enc":e}
dictionary

{'Names': ['x', 'y', 'z', 'd'],
 'enc': ['[10, 20, 30, 40]',
  '[50, 60, 70, 80]',
  '[100, 200, 300, 400]',
  '[1,2,3,4]']}

In [69]:
database = pd.DataFrame(dictionary)
display(database)
database.to_csv("updated.csv")

  Names                   enc
0     x      [10, 20, 30, 40]
1     y      [50, 60, 70, 80]
2     z  [100, 200, 300, 400]
3     d             [1,2,3,4]